@import "tailwindcss";
@import "./theme.css";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-text-brand-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-text-brand-secondary_hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-body);
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
